<nz-card class="card" nzTitle="URL HASHING SYSTEM">

  <div nz-row [nzGutter]="{ xs: 8, sm: 32, md: 16, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="18">
      <input nz-input placeholder="Enter Url" nzSize="large" [(ngModel)]="url" />
    </div>
    <div nz-col class="gutter-row" [nzSpan]="2">

      <button nz-button nzType="primary" nzSize="large" (click)="addLink()" [nzLoading]="isBtnLoading">
        Hash
      </button>
    </div>
  </div>
  <br />
  <div nz-row [nzGutter]="{ xs: 8, sm: 32, md: 16, lg: 32 }">

    <div nz-col class="gutter-row" [nzSpan]="24">

      <nz-table #basicTable [nzData]="linkInfoList">
        <thead>
          <tr>
            <th>Full Url</th>
            <th>Hash Url</th>
            <th>Clicks</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{data.full}} </td>
            <td class="short_nm" (click)="urlClick(data.short,data.full)">{{data.short}}</td>
            <td>{{data.clicks}}</td>

          </tr>
        </tbody>
      </nz-table>
    </div>

  </div>
</nz-card>